/*-------------------------BASE STYLES-----------------------------------*/
* {
	box-sizing: border-box;
}

.grid-container{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto; 
  grid-template-areas: 
    'header'
    'nav'
    'main'; 
}

img{
  border-radius: 100%;
  width: 35%;
}
canvas{
  background: white; 
}

span{
  text-align: center;
}
/*-------------------------HEADER--------------------------------------*/
.header{
  grid-area: header;
  background-color: #3f8abf;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
  position: relative;
}

.box{
  display: flex;
  justify-content: flex-end;
}

.header svg{
  width: 10%; 
}

.header svg:hover{
  transform: scale(1.5); 
  transition: .7s;
}

.badge {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: limegreen; 
  position: absolute;
  top: 31px;
  right: 180px;
}

/*-----------------------SIDEBAR NAVIGATION----------------------------*/
.nav{
  grid-area: nav;
  background-color: #6ad78a;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

nav svg{
  transform: scale(.6);
}

/*-----------------------WIDGET CONTAINER----------------------------*/
.main{
  grid-area: main;
}
/*-------------------ALERT---------------------*/
.alert-banner-close{
  border: solid 1px; 
}
.alert-banner-close:hover{
  cursor: pointer; 
}
/*------------------------DASHBOARD HEADER------------------------*/
.main-header{
  display: grid; 
  grid-template-areas: 
    'heading main-header-search';
    grid-template-columns: 40% 60%;
}

.main-header-search{
  margin-top: 2.5%; 
}

.search{
  margin-top: 17px;
  width: 90%;
}
/*----------------------------ALERT BAR------------------------*/
.alert{ 
  background: red;
}

.alert-banner{
  display: flex;
  justify-content: space-between; 
}

/*-----------------------TRAFFIC SECTION LINE GRAPH------------------------*/
.traffic{
  display: grid; 
}

.traffic-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.traffic-nav{
  list-style-type: none;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
}


.active{
  width: 50%; 
}

.widget-container-full{
  margin: 0 auto;
  width: 95vw; 
}

.widget-container-half{
  width: 85vw; 
}

#traffic-chart{
  width: 45vw;  
}

/*--------------TRAFFIC SECTION BAR AND DONUT CHARTS-----------------*/

/*----------------------TRAFFIC SECTION BAR----------------------*/


#daily-chart,
#donut-chart{
  width: 85vw; 
}

/*----------------------DONUT CHARTS----------------------*/


/*----------------------SOCIAL STATUS------------------------------*/
.social-media{
  display: grid;
  grid-row-gap: 10px;
  align-content: space-around;
}

.social-container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  background: white;
  border: solid 1px grey;
}

.social-image{
    align-self: center;
    border-radius: 100%;
    background-color: mediumpurple;
    height: 90px;
    width: 90px;
}
.twitter{
  transform: scale(.4);
}
.facebook{
  transform: scale(1.2);
  padding-left: 26px;
}
.google{
  transform: scale(.4); 
}

.social-text{
  color: mediumpurple;
  align-self: center; 
}

/*-------------------------------NEW MEMBERS WIDGET-------------------*/
.recent-container,
.members-container{
  display: grid;
  grid-template-columns: 20% 60% 20%;
  border: 1px solid grey;
}
.main img{
  width: 50%; 
}

/*-------------------------------RECENT ACTIVITY-------------------*/
.recent{
  
}

/*-------------------------------MESSAGING WIDGET-------------------*/
.members{
  display: grid;
  border: 1px solid grey; 
  margin-top: 5px;   
}

.button-disabled,
.button-primary{
   margin-top: 5px; 
}

/*-----------------------SETTINGS----------------------------*/
.widget-container{
  display: grid; 
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
}
.settings{
  display: grid; 
}

.settings-button{
  display: flex; 
  justify-content: space-between;
}

/*NOTIFICATIONS TOGGLE BUTTON*/
.wrapper{
  display: flex; 
  justify-content: space-between; 
}
.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; 
}

.slide {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
}

.slide:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 5px;
  bottom: 4px;
  background-color: white;
}

.notifications:checked + .slide {
  background-color: green; 
}

.notifications:checked + .slide:before {
  transform: translateX(26px); 
}


#timezone{
  
}

#cancel,
#save{
  flex-grow: .4; 
}
/*-------------------------FOOTER--------------------------------------*/

/*----------------------------MEDIA QUERIES------------------------*/
@media (min-width: 768px){
  .grid-container{
     grid-template-columns: 55px 1fr; 
     grid-template-areas: 
       'header header'
       'nav main'; 
  }
 /*-------------------------HEADER--------------------------------------*/  
  .header svg{
    width: 5%; 
  }
  
  .header img {
    width: 7%;
  }

  .badge {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 145px;
  } 

  /*DASHBOARD*/
  .search{
    margin-top: 13px;
  }
  
 /*-----------------------SIDEBAR NAVIGATION----------------------------*/
 .nav{
   grid-template-columns: 1fr; 
   grid-template-rows: repeat(4, 100px); 
   grid-gap: 0px;
 }
 
 nav svg{
   transform: scale(.7);
 }
   
 /*--------------TRAFFIC SECTION BAR AND DONUT CHARTS-----------------*/
 /*----------------------TRAFFIC SECTION BAR----------------------*/
 .daily{
   display: grid;
   grid-template-columns: 1fr 1fr;
 }
 
 #daily-chart,
 #donut-chart{
   width: 37.5vw; 
 }
   /*----------------------SOCIAL STATUS------------------------------*/
   .social-media{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-column-gap: 10px; 
 }

 /*-------------------------------NEW MEMBERS WIDGET-------------------*/


   .message{
     display: grid; 
     grid-template-columns: 1fr 1fr;
     grid-row-gap: 5px; 
   }
  
  .members{
    grid-template-areas: 
      'new-members recent'; 
  }
  
  .new-members{
    grid-area: 'new-members'
  }
  
  .recent{
    grid-area: 'recent'; 
  }

   .mobile, 
   .activity,
   .settings{
     grid-column: 2 / span 1; 
   }
  
  .widget-container{
    display: grid; 
    grid-gap:10px; 
    grid-template-rows: 1fr 3fr 1fr; 
    grid-template-columns: 85%;
    align-self: end; 
  }
 
   .widget-container-full{
     width: 95vw;
   }
   .widget-container-half{
     width: 45vw; 
   }

  .settings-button{
    display: flex;
    justify-content: space-between;
  }

 }
 
 @media(min-width: 1024px){
  .badge {
    top: 15px;
    right: 146px;
  }

  .search{
    margin-top: 5px;
  }
 }

